.board {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.board__table {
  border-collapse: collapse;
}

.board__table--disabledBorders {
  border: 2px solid black;
}

.board__table--disabledBorders tbody td {
  border: none;
}