* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: url("static/images/background.png") no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.app__header {
  margin-top: 5px;
  font-size: 3rem;
  text-align: center;
}
